<div class="container">
    <h4 class="text-center">การแสดงพื้นเมืองภาคเหนือ</h4>
    <p>
        ในภาคเหนือภูมิประเทศเป็นป่าเขาต้นน้ำลำธารอุดมด้วยทรัพยากรธรรมชาติการทำมาหากินสะดวกสบายชาวเหนือจึงมีอุปนิสัยอ่อนโยนยิ้มแย้มแจ่มใสมีน้ำใจไมตรี
        การแสดงพื้นเมืองจึงมีลีลาอ่อนช้อยงดงามละเมียดละไมเนิบนาบอ่อนหวาน
        การแสดงพื้นเมืองภาคเหนือเรามักเรียกว่าฟ้อนมีลักษณะคล้ายระบำคือมีผู้แสดงหลายคนเป็นชุดเป็นหมู่ร่ายรำทำท่าเหมือนๆกันแต่งกายเหมือนกัน
        มีการแปรแถวแปรขบวนต่างๆแต่ที่ไม่เรียกว่าระบำเพราะฟ้อนมีจังหวะและลีลาเป็นเอกลักษณ์เฉพาะตัวไม่เหมือนระบำหรือการแสดงอื่นๆ
        การแสดงพื้นเมืองภาคเหนือมีหลายอย่าง ได้แก่</p>
    <ol>
        <li>ฟ้อนเล็บหรือฟ้อนเมือง</li>
        <li>ฟ้อนเทียน</li>
        <li>ฟ้อนลาวแพล</li>
        <li>ฟ้อนรัก</li>
        <li>ฟ้อนม่านมุ้ยเชียงตา</li>
        <li>ฟ้อนเงี้ยว</li>
        <li>ฟ้อนดวงเดือน</li>
        <li>ฟ้อนเจิงและตบมะผาบ</li>
        <li>ฟ้อนบายศรี</li>
        <li>ฟ้อนดวงดอกไม้</li>
        <li>ฟ้อนดาบ</li>
        <li>ฟ้อนเทียน</li>
    </ol>
    <p>เดิมคงเป็นการฟ้อนสักการะบูชาสิ่งศักดิ์สิทธิ์ต่อมาแสดงในงานพิธีสำคัญในคุ้มเจ้าหลวงผู้ฟ้อนเป็นเจ้านายเชื้อพระวงศ์ฝ่ายในเมื่อพ.ศ.2469พระบาทสมเด็จพระปกเกล้าเจ้าอยู่หัวเสด็จประพาสเมืองเหนือเจ้าดารารัศมีทรงฝึกหัดสาวเหนือฟ้อนรับเสด็จและครูนาฏศิลป์ของกรมศิลปากรได้นำมาสอนในวิทยาลันนาฏศิลป์ต่อมา
        ลักษณะการแสดง
        ผู้ฟ้อนเป็นหญิงล้วนถือเทียนจุดไฟมือละเล่มนิยมแสดงในเวลากลางคืนความงามของฟ้อนเทียนอยู่ที่แสงเทียนเต้นระยิบระยับขณะที่ผู้ฟ้อนหมุนข้อมือและลีลาการเคลื่อนไหวช้าๆเห็นแสงเทียนเดินเป็นทางมีการแปรขบวนควงคู่สลับแถวเข้าวงต่อมือฯลฯงดงามมาก
        การแต่งกายนุ่งซิ่นยาวกรอมสวมเสื้อแขนยาวคอปิดคาดเข็มขัดทับห่มสไบเกล้าผมมวยสูงประดับดอกไม้ล้อมมวยห้อยอุบะยาวเคลียไหล่ถือเทียนมือละเล่ม
        ดนตรีประกอบมีปี่แนกลองแอว์กลองตะโล้ดโป้ดฉาบใหญ่ฆ้องโหม่งและฆ้องหุ่ย
        ถ้าแสดงกลางวันนิยมแสดงฟ้อนเล็บคือผู้ฟ้อนสวมเล็บยาวเล็บแทนการถือเทียนลีลาการฟ้อนคล้ายคลึงกัน
        การแต่งการและดนตรีก็เหมือนกัน</p>
    <h4 class="text-center">การละเล่นประจำท้องถิ่นภาคเหนือ</h4>
    <p>ม้าจกคอก,ลูกโยน หรือ ลูกช่วง,การเล่นไม้หึ่ง หรือ อีหึ่ง,ปั่นหนังว้อง,ชนกว่าง,เตย หรือ
        หลิ่น,เล่นโพงพาง,ยก,เบี้ยขี้โก่ง,อีหึ่ม,เล่นตากระโดด,ไก่ชนมะม่วง,เต้นกำรำเคียว,บ่าขี้เบ้าทราย,การรำกลองยาว,รำโทนวง,สะโป้ก,ปริศนาคำทาย,การเส็งกลอง,ซิกโก๋งเก๋ง,การแข่งขันเรือบก,การละเล่นแมงตับเต่า,รำเสื้อแขบลาน,ค่าวเพลงซอดาววีไก่น้อย,หมากข่าง,หมากล้อกลิ้ง,หมากเก๊,ฟ้อนดาบ,โคมลอย,กลองหลวง,การซอพื้นเมือง,กลองดิน,การเล่นเพลงยิ้มใย,เชิญผีนางด้ง,การเล่นนางอึ่ง,เพลงขอทาน
    </p>
</div>


