<div class="container">
    <h4 class="text-center">อาหารประจำท้องถิ่นภาคเหนือ</h4>
    <p>อาหารไทยท้องถิ่นในภาคเหนือ9 เมนู ที่มีความโดดเด่นและรสชาติอร่อย แม้ว่าจะไม่ได้เป็นที่รู้จักดีของชาวต่างชาติเหมือน
        ต้มยำกุ้ง หรือมัสมั่น แต่เมนู “อาหารเหนือ” เหล่านี้ก็คุ้มค่าที่จะลิ้มลอง โดยผลสำรวจนี้เป็นของนายออสติน บุช
        (Austin
        Bush)
        ช่างภาพและนักเขียน ที่ได้ไปสัมผัสความอร่อยของอาหารเหนือในประเทศไทยมาแล้ว</p>
    <ol>
        <li>ข้าวซอย ข้าวซอยเป็นแกงที่มีลักษณะคล้ายแกงเขียวหวาน คือเป็นแกงกะทิชนิดหนึ่ง แต่มาในรูปแบบก๋วยเตี๋ยว
            นิยมปรุงด้วยเนื้อวัวหรือเนื้อไก่เป็นวัตถุดิบหลัก เสิร์ฟมาพร้อมกับผักดอง เป็นอาหารยอดนิยมของคนภาคเหนือ</li>
        <li>ขนมจีนนำ้เงี้ยว เป็นขนมจีนที่กินกับน้ำยาที่เรียกว่า น้ำเงี้ยว เป็นแกงอย่างหนึ่งของภาคเหนือ มีส่วนประกอบหลักๆ
            คือ
            กระดูกหมู พริกแกงที่ทำจากพริกแห้งทางเหนือ มะเขือเทศ เลือดหมู ปรุงแบบสไตล์บ้านๆ
            ได้กลิ่นอายความเป็นอาหารท้องถิ่นแท้ๆ
            ตามสูตรดั้งเดิมของป้าบุญศรี ชาวเมืองลำปาง</li>
        <li>น้ำพริกหนุ่ม เมนูนี้เป็นอาหารไทยภาคเหนือที่เรียกว่า น้ำพริก (Dip) ที่ทำจากพริก หอมแดง กระเทียม
            นำทั้งหมดย่างไฟจนสุกหอม ก่อนตำเป็นน้ำพริกท้องถิ่น มักกินคู่กับผักต้มและข้าวเหนียวนึ่ง
            ซึ่งก็นับเป็นอาหารสุขภาพอย่างดีเลย
            แต่ถ้าจะให้อร่อยขึ้นไปอีก ต้องกินกับข้อไก่ทอด บอกเลยว่าอร่อยเพลินไม่สนใจแคลอรีกันเลยทีเดียว</li>
        <li>ข้าวซอยน้ำหน้า เมนูนี้เป็นเมนูข้าวซอยชนิดหนึ่ง ที่มีความแตกต่างกับข้าวซอยทั่วไป คือ
            ข้าวซอยน้ำหน้าจะไม่ใช่แกงกะทิ
            ไม่มีพริกแกง แต่จะเป็นก๋วยเตี๋ยวน้ำซุปใสๆ ราดด้วยหมูสับที่นำไปเคี่ยวกับถั่วเหลืองหมักและพริกแห้ง
            (คนภาคเหนือเรียกว่า
            จิ๊นคั่ว เป็นเนื้อหมูคั่วกับเครื่องแกงและถั่วเน่า)</li>
        <li>ข้าวแต๋น เมนูนี้รสชาติน่าสนใจสุดๆ เป็นขนมขบเคี้ยวรูปร่างกลมๆ ทำจากข้าวเหนียวที่นำไปผสมรวมกับน้ำตาล เกลือ งา
            และน้ำแตงโม จากนั้นนำไปตากแห้ง แล้วนำมาทอดจนกรอบฟู ปิดท้ายด้วยการราดน้ำตาลอ้อยบนหน้าขนม</li>
        <li>ข้าวกั๊นจิ๊น เมนูนี้เป็นการนำข้าวสวย เนื้อหมูสับ เลือดหมู โรยน้ำมันกระเทียมเจียว
            นำมาห่อรวมกันในใบตองแล้วนำไปนึ่งจนสุก ซึ่งหนุ่มออสตินก็ยอมรับว่า
            “การนำเลือดมาปรุงอาหารเป็นสิ่งที่แปลกและทำให้ชาวต่างชาติรู้สึกเสียขวัญ แต่ถ้าไม่บอกว่าเมนูนี้ใส่เลือดลงไป
            ก็จะไม่รู้เลย
            เพราะรสชาติที่ได้ลองชิมนั้นเผ็ดร้อน หอมกระเทียม และอร่อยมาก”</li>
    </ol>
</div>