<div class="container">
    <h4 class="text-center">การประยุกต์ใช้ปรัชญาของเศรษฐกิจพอเพียง</h4>
    <p>ชุมชนบ้านดอกบัว หมู่ ๔ ต.บ้านตุ่น อ.เมืองพะเยา จ.พะเยา บ้านบัว(ดอกบัว)มีประชากรส่วนใหญ่ประกอบอาชีพ
        ด้านการเกษตรกรรมเช่น ทำนา ทำสวนปลูกหญ้า เลี้ยงสัตว์ และอาชีพหัตถกรรมจักสานเข่งไม้ไผ่เป็นอาชีพที่ทำให้
        ประชากรในหมู่บ้านมีรายได้มากผลิตภัณฑ์เด่นของหมู่บ้าน ได้แก่ ข้าว หญ้าแพงโกล่า ผลิตภัณฑ์จากไม้ไผ่ (เข่ง)
        ผลิตภัณฑ์จากผักตบชวา เป็นต้นอาชีพหลักของชาวบ้าน คือ การทำนา สำหรับนอกฤดูกาลทำนา ชาวบ้านบัวได้ใช้
        เวลาว่างประกอบอาชีพเสริมซึ่งสอดคล้องกับวิถีชีวิตและ ทรัพยากรในท้องถิ่นโดยใช้ต้นไผ่ที่เกิดขึ้นเองตามธรรมชาติ
        มาทำสุ่มไก่ เข่ง ออกจำหน่าย ต่อมาชาวบ้านนิยมสานเข่ง สุ่มไก่กันมากขึ้นจึงขายได้ไม่มากเท่าที่ควร ทำให้มีแนวคิด
        ในการรวมกลุ่มกันเป็นกลุ่มจักสานเข่งช่วยสร้างรายได้เสริม ให้กับชาวบ้านบัวเป็นอย่างดีเป็นเวลากว่า ๒๐ ปีแล้ว
        โดยมีตลาดรองรับที่แน่นอนออกจำหน่ายแพร่หลายทั้ง ภายในจังหวัดและต่างจังหวัดความรู้ l นำหลักวิชาการต่างๆ
        มาใช้ในการวางแผนประกอบอาชีพ ดำเนินกิจกรรมของชุมชน โดยผู้นำชุมชนเข้าร่วม ฝึกอบรมพัฒนาความรู้ต่างๆ
        ที่มีประโยชน์สำหรับ การประกอบอาชีพจากหน่วยงานราชการ เพื่อเป็น แนวทางในการดำเนินชีวิตและนำความรู้ที่ได้มาถ่ายทอด
        ให้กับชุมชน โดยมีศูนย์เรียนรู้ชุมชนเป็นแหล่งศึกษา ดูงานได้แก่การทำจุลินทรีย์จากหน่อกล้วยและเนื่องจาก
        ชาวบ้านบ้านดอกบัวนิยมเลี้ยงโคกันอย่างแพร่หลาย ผู้นำในหมู่บ้านรณรงค์ให้ครัวเรือนมีการผลิตและใช้ ปุ๋ยหมัก
        ปุ๋ยชีวภาพ เพื่อลดต้นทุนการผลิตและช่วย ในการรักษาคุณภาพดิน ทำให้ลดรายจ่ายจากการซื้อ ปุ๋ยเคมีได้ปีละ ๕,๐๐๐ บาท
        คุณธรรม l มีการให้ความร่วมมือและช่วยเหลือกันภายในชุมชน ได้แก่มีเครือข่ายร่วมมือช่วยเหลือแบ่งปันกันจัดกิจกรรม
        เสริมสร้างความอบอุ่นในครอบครัวเช่นกิจกรรมวันสำคัญ ทางศาสนา กิจกรรมแข่งขันกีฬาในหมู่บ้านทุกปี l
        มีการส่งเสริมและพัฒนาวัดหรือศาสนสถานหรือแหล่ง เรียนรู้ทางคุณธรรมจริยธรรมโดยใช้แนวทางการส่งเสริม
        ความรู้คู่คุณธรรมมีอาสาสมัครที่ทำงานช่วยเหลือส่วนรวม ด้วยจิตอาสาโดยไม่หวังค่าตอบแทน เช่น กลุ่มสตรี แม่บ้านกลุ่ม
        อสม.ชรบ.สตบ.อปพร.กลุ่มผู้สูงอายุฯลฯ เพื่อให้โครงการนี้เป็นต้นแบบการขยายผลในการ
        ดำเนินงานตามหลักปรัชญาของเศรษฐกิจพอเพียงได้ อย่างเป็นรูปธรรม และที่แสดงถึงคุณธรรมชัดเจนก็คือ การงดเหล้างานศพ
        ซึ่งถือเป็นกฎเคร่งครัดภายในชุมชน ความพอประมาณ l มีการวิเคราะห์ถึงศักยภาพชุมชนและประชาชน อีกทั้ง
        การนำทรัพยากรที่มีอยู่ในชุมชนมาใช้พัฒนาชุมชนและ มีการทดแทนกลับคืนให้กับชุมชนโดยยึดหลักความพอดี
        ไม่มากไม่น้อยเกินไป ไม่เบียดเบียนตัวเองและผู้อื่น ความมีเหตุผล l ร่วมกันศึกษาวิเคราะห์สภาพเศรษฐกิจสังคมและ
        ทรัพยากรของชุมชนด้วยเหตุผลและความรู้ความเข้าใจ แล้วจึงตัดสินใจนำไปใช้ในการทำแผนพัฒนาชุมชน
        สมาชิกในชุมชนมีการลงทุนในการดำเนินกิจกรรม ร่วมกันด้วยความมีเหตุผล โดยพิจารณาจากปัจจัย
        ที่เกี่ยวข้องมีการวางแผนรู้จักแยกแยะปัญหา อุปสรรค ตลอดจนคำนึงถึงผลที่คาดว่าจะเกิดขึ้นจากการกระทำ เหล่านั้น
        ภูมิคุ้มกัน l มีการเตรียมความพร้อมรับผลกระทบจากความ เปลี่ยนแปลงต่างๆ ที่จะเกิดขึ้น โดยทุกครัวเรือนมีการ
        วางแผนการใช้จ่าย จัดทำบัญชีครัวเรือน ประหยัดและ เก็บออม โดยเฉพาะชุมชนสามารถพึ่งตนเองได้โดยการ
        รวมกลุ่มและมีการจัดตั้งองค์กรช่วยเหลือคนในชุมชน ยามเดือดร้อนเช่นกองทุนหมู่บ้านโครงการแก้ไขปัญหา ความยากจน
        เป็นต้น l มีการจัดการทรัพยากรและสิ่งแวดล้อมอย่างฉลาดและ รอบคอบที่สามารถช่วยลดภาวะโลกร้อนได้แก่การผลิต
        แก๊สชีวภาพใช้เอง การปลูกป่าชุมชน การจัดการขยะ โดยการแยกขยะการรณรงค์ลดการใช้ถุงพลาสติก และ
        การออกกำลังกายเพื่อสร้างภูมิคุ้มกันให้ร่างกาย</p>
</div>