<div class="container">
    <h4 class="text-center">แหล่งท่องเที่ยวทางวัฒนธรรมภาคเหนือ</h4>
    <p>พระธาตุดอยตุง จังหวัดเชียงราย</p>
    <p>วัดร่องขุ่น จังหวัดเชียงราย
    <p>วัดพระธาตุดอยสุเทพราชวรวิหาร จังหวัดเชียงใหม่
    <p>วัดพระสิงห์วรมหาวิหาร จังหวัดเชียงใหม่
    <p>ถนนคนเดินเชียงใหม่ จังหวัดเชียงใหม่</p>
    <p>ฮิโนกิแลนด์ จังหวัดเชียงใหม่</p>
    <p>บ้านแม่กำปอง จังหวัดเชียงใหม่</p>
    <p>วัดภูเก็ต จังหวัดน่าน</p>
    <p>วัดภูมินทร์ จังหวัดน่าน</p>
    <p>วัดพระธาตุแช่แห้ง จังหวัดน่าน</p>
    <p>บ่อเกลือสินเธาว์ จังหวัดน่าน</p>
    <p>กว๊านพะเยา จังหวัดพะเยา</p>
    <p>ศูนย์พัฒนาโครงการหลวงปังค่า จังหวัดพะเยา</p>
    <p>วัดพระธาตุช่อแฮ จังหวัดแพร่</p>
    <p>พิพิธภัณฑ์เมืองแพร่คุ้มเจ้าหลวง จังหวัดแพร่</p>
    <p>คุ้มวงศ์บุรี จังหวัดแพร่</p>
    <p>หมู่บ้านทุ่งโฮ้ง จังหวัดแพร่</p>
    <p>วัดพระธาตุดอยกองมู จังหวัดแม่ฮ่องสอน</p>
    <p>บ้านรักไทย จังหวัดแม่ฮ่องสอน</p>
    <p>วัดพระธาตุลำปางหลวง จังหวัดลำปาง</p>
    <p>วัดเฉลิมพระเกียรติพระจอมเกล้าราชานุสรณ์ จังหวัดลำปาง</p>
    <p>กาดกองต้า จังหวัดลำปาง</p>
    <p>พระบรมธาตุหริภุญชัย จังหวัดลำพูน</p>
    <p>ศูนย์พัฒนาโครงการหลวงพระบาทห้วยต้ม จังหวัดลำพูน</p>
    <p>วัดพระบรมธาตุทุ่งยั้ง จังหวัดอุตรดิตถ์</p>
    <p>วัดบ้านแก่งใต้ จังหวัดอุตรดิตถ์</p>

</div>