<div class="container">
    <h4 class="text-center">โครงการอันเนื่องมาจากพระราชดำริในภาคเหนือ</h4>
    <p>โครงการพัฒนาที่ดินมูลนิธิชัยพัฒนาบ้านบึงแวง-หนองไผ่ อำเภอพรหมพิราม จังหวัดพิษณุโลก</p>
    <p>โครงการพัฒนาที่ดินมูลนิธิชัยพัฒนาบ้านหล่ายขานาง ต.พันเสา อ.บางระกำ จ.พิษณุโลก</p>
    <p>โครงการพัฒนาที่ดินมูลนิธิชัยพัฒนาบ้านเกาะคู ต.บางกระทุ่ม อ.บางกระทุ่ม จ.พิษณุโลก</p>
    <p>โครงการศึกษาและพัฒนาการปลูกชาน้ำมัน และพืชน้ำมันอื่นๆ ของมูลนิธิชัยพัฒนา อ.แม่ฟ้าหลวง จ.เชียงราย</p>
    <p>โครงการพัฒนาที่ดินมูลนิธิชัยพัฒนาบ้านดงพระพร (ศูนย์ผลิตและกระจายพันธุ์สัตว์) จ.เชียงราย</p>
    <p>โครงการพัฒนาที่ดินมูลนิธิชัยพัฒนาบ้านแดนชล จ.แพร่</p>
    <p>โครงการศูนย์วิจัยและพัฒนาผลิตภัณฑ์น้ำมันเมล็ดคามีเลียและน้ำมันพืชอื่น ต.เวียงพางคำ อ.แม่สาย จ.เชียงราย</p>
    <p>โครงการพัฒนาที่ดินมูลนิธิชัยพัฒนา ต.ป่าคาย อ.ทองแสนขัน จ.อุตรดิตถ์</p>
    <p>โครงการพัฒนาที่ดินมูลนิธิชัยพัฒนาบ้านดอยก้อม หมู่ที่ 6 ต.บ้านโฮ่ง อ.บ้านโฮ่ง จ.ลำพูน</p>
    <p>โครงการแปลงรวบรวมไม้ผลพันธุ์ดีและพันธุ์พื้นเมือง บ้านป่าบงมูลนิธิชัยพัฒนา ต.ศรีบัวบาน อ.เมือง จ.ลำพูน</p>
    <p>โครงการศึกษาวิจัยและพัฒนาเกษตรกรรมบนพื้นที่สูงของมูลนิธิชัยพัฒนา ต.โป่งน้ำร้อน อ.ฝาง จ.เชียงใหม่</p>
    <p>โครงการศูนย์พัฒนาพันธุ์พืชจักรพันธ์เพ็ญศิริ ต.โป่งผา อ.แม่สาย จ.เชียงราย</p>
    <p>โครงการศูนย์ชัยพัฒนาการเกษตรสิรินธร ต.เนินมะกอก อ.บางมูลนาก จ.พิจิตร</p>
    <p>โครงการศูนย์พัฒนาพันธุ์สัตว์พระราชทานบ้านหนองชะลาบ จ.ตาก</p>
    <p>โครงการเพาะและขยายกิ่งพันธุ์ไม้ผลพันธุ์ดี จ.นครสวรรค์</p>
    <p>โครงการพัฒนาที่ดินมูลนิธิชัยพัฒนา (หนองหม้อ) ต.หนองหม้อ อ.ตาคลี จ.นครสวรรค์</p>
    <p>โครงการพัฒนาและปรับปรุงพื้นที่ดินมูลนิธิชัยพัฒนา วัดศรีอุทุมพร (หนองกรด) ต.หนองกรด อ.เมือง จ.นครสวรรค์</p>
    <p class="fw-bold">ประเภทโครงการด้านต่างๆ</p>
    <ol>
        <li>โครงการพัฒนาด้านแหล่งน้ำ 3,248 โครงการ/กิจกรรม</li>
        <li>โครงการพัฒนาด้านการเกษตร 170 โครงการ/กิจกรรม</li>
        <li>โครงการพัฒนาด้านสิ่งแวดล้อม 182 โครงการ/กิจกรรม</li>
        <li>โครงการพัฒนาด้านส่งเสริมอาชีพ 339 โครงการ/กิจกรรม</li>
        <li>โครงการพัฒนาด้านสาธารณสุข 58 โครงการ/กิจกรรม</li>
        <li>โครงการพัฒนาด้านคมนาคม/สื่อสาร 87 โครงการ/กิจกรรม</li>
        <li>สวัสดิการสังคม/การศึกษา 398 โครงการ/กิจกรรม</li>
        <li>โครงการพัฒนาแบบบูรณาการ/อื่นๆ 259 โครงการ/กิจกรรม</li>
    </ol>
</div>