<div class="container">
    <h4 class="text-center">ภูมิปัญญาประจำท้องถิ่น</h4>
    <h5>วัฒนธรรมที่สืบเนื่องจากการทำเกษตรกรรม</h5>
    <p> คนไทยในอาณาจักรล้านนามีชีวิตและความเป็นอยู่ โดยการประกอบอาชีพเกษตรกรรมเป็นหลัก พื้นที่ส่วนใหญ่เป็นภูเขา หุบเขา
        มีพื้นที่ราบจำนวนน้อย คือ ประมาณ 1/4 ของพื้นที่ทั้งหมด ชาวบ้านทำนาแบบนาทดน้ำ พื้นที่สูงปลูกข้าวไร่
        พื้นที่ที่ราบในแอ่งเขาอุดมสมบูรณ์ ปลูกข้าวและพืชอื่นๆ ได้ดี คือ พื้น
        ที่ราบแอ่งเชียงใหม่ลำพูน และแอ่งเชียงราย ส่วนลำปาง แพร่ น่าน ผลิตข้าวได้น้อย
        ระบบเศรษฐกิจเป็นแบบผลิตเพื่อให้พออยู่พอกิน การติดต่อค้าขายระหว่างกันก็จะเป็นประเภทวัวต่างสินค้า มีของป่า เกลือ
        ผ้า อัญมณี เป็นต้น ส่วนการค้าขายในหมู่บ้านก็จะมี “กาดมั่ว”ใครมีของอะไรก็นำมาวางขายได้
        คำว่า “กาดมั่ว” เป็นภาษาพื้นบ้านของทางล้านนา ซึ่งหมายถึง ตลาดที่คนเรานิยมไปซื้อทั้งของกินของใช้
        ของกินพื้นบ้านทางภาคเหนือ และของใช้ที่ชาวบ้านประดิษฐ์คิดค้นขึ้นมา แล้วจะออกนำมาขายไม่ว่าจะเป็น
        น้ำพริก แกงฮังเล แกงโฮะ ใส้อั่ว จิ้นปิ้ง (หมูปิ้ง) ขนมจีนน้ำเงี้ยว เป็นต้น ตลอดจนข้าวของเครื่องใช้ในชีวิต
        ประจำวัน ซึ่ง 'กาดมั่ว' จะเป็นตลาดที่ขายของปนเปกันไปอย่างไม่มีระเบียบเรียบร้อย
        ชาวเหนือส่วนใหญ่จะมีอาชีพทำไร่ทำนา การทำนาส่วนใหญ่ก็่จะเป็นนาดำ ที่ลุ่มมากๆ จึงทำนาหว่านคน
        เหนือมักจะปลูกข้าวเหนียวกันเป็นส่วนใหญ่ เพราะบริโภคข้าวเหนียว ข้าวเหนียวภาคเหนือถือว่าเป็นข้าวที่มี
        คุณภาพดี นึ่งสุกแล้วก็จะขาวสะอาดอ่อน และนิ่มน่ารับประทาน ข้าวพันธุ์ที่มีชื่อเสียง คือ
        "ข้าวสันป่าตอง"นอกจากทำนาแล้วยังปลูกพืชไร่อื่นๆ เช่น หอม กระเทียม ถั่ว ยาสูบ เป็นต้น นอกจากปลูกข้าวแล้วอาชีพทำ
        สวนก็เป็นที่นิยมกัน โดยเฉพาะทำสวนลำไย และลิ้นจี่ นอกจากจะขายให้คนไทยได้รับประทานแล้ว ยังส่ง ขายต่างประเทศอีกด้วย
    </p>
    <h5>หัตถกรรมภาคเหนือ</h5>
    <p>ผลิตภัณฑ์หัตถกรรมที่ผลิตในประเทศไทย มีเป็นจำนวนมากหลายชนิด และมีการผลิตอยู่ทั่วไป
        ในแต่ละภาคของประเทศไทยจะมีผลิตภัณฑ์หัตถกรรม ที่มีลักษณะเด่นแตกต่างกันไปดังนี้</p>
    <ul>
        <li>เครื่องปั้นดินเผา "น้ำต้น" หรือที่เรียกว่า "คนโท" คือภาชนะดินเผาที่ใช้บรรจุน้ำดื่ม
            โดยสถานที่ที่มีชื่อเสียงที่สุดบ้านน้ำต้น สล่าแดง" อันเป็นสถานที่ที่มีชื่อเสียงในแม่วาง จังหวัดเชียงใหม่
            ที่อุทิศตนเพื่อรักษาเทคนิคและรูปแบบเครื่องปั้นดินเผาแบบดั้งเดิมไว้ "สล่าแดง" (สล่าหมายถึงช่างฝีมือ
            และแดงเป็นชื่อผู้ก่อตั้ง) ได้ก่อตั้งศูนย์แห่งนี้ขึ้น
            การเดินทางของเขาไปทั่วภาคเหนือของประเทศไทยทำให้เขาได้รับความรู้มากมายเกี่ยวกับวิธีการเหล่านี้
            นักศึกษาและนักท่องเที่ยวสามารถมาสัมผัสและชื่นชมศิลปหัตถกรรมล้านนาได้ที่ศูนย์การเรียนรู้พิเศษแห่งนี้</li>
        <li> ผ้าทอมือ เป็นมรดกอันล้ำค่า เป็นเครื่องเชิดชูเกียรติของชาติ เป็นต้นทุนทางวัฒนธรรม
            และเป็นภูมิปัญญาทางศิลปะนานหลายศตวรรษ "บ้านปงห้วยลาน" เป็นหมู่บ้านที่มีเสน่ห์ในอำเภอสันกำแพง
            มีชื่อเสียงในเรื่องการทอผ้าด้วยมือและการปั่นด้ายอย่างประณีต หมู่บ้านแห่งนี้ตั้งอยู่บนพื้นที่ราบ
            ล้อมรอบด้วยทิวเขาตระหง่าน นาข้าว และอ่างเก็บน้ำอันเงียบสงบ
            ด้วยแรงบันดาลใจตามแนวคิดเศรษฐกิจพอเพียงของในหลวงรัชกาลที่
            9 นอกจากนี้ ชาวบ้านที่นี่ยังปลูกฝ้ายและผักออร์แกนิกอีกด้วย</li>
        <li> โคมยี่เป็ง ในการเตรียมงานประเพณียี่เป็ง ช่างล้านนาจะประดิษฐ์โคมต่างๆ เพื่อจุดเทียนบูชาตามวัดและเจดีย์
            หรือประดับประดาตามบ้านเรือน โคมไฟโครงไม้ไผ่เหล่านี้มีหลายรูปทรง เช่น โคมรังมดส้ม
            โคมจะทำด้วยกระดาษสาประดับลวดลายเงินหรือทองอย่างประณีต "ชุมชนเมืองสาตรหลวง"
            ได้อนุรักษ์การทำโคมล้านนาแบบดั้งเดิมไว้และกลายเป็นชุมชนที่มีชื่อเสียงในด้านงานหัตถกรรมโบราณนี้</li>
        <li>ไม้แกะสลัก ช่างฝีมือในอดีตได้แกะสลักไม้อย่างประณีตเพื่อวัตถุประสงค์ต่างๆ เช่น พระพุทธรูป พระที่นั่ง
            และการตกแต่งวัด "บ้านถวาย"
            หมู่บ้านหัตถกรรมไม้แกะสลักและสถานที่ท่องเที่ยวเชิงวัฒนธรรมที่มีชื่อเสียงมากที่สุดในเชียงใหม่
            ขึ้นชื่อในด้านงานฝีมือและงานหัตถกรรมอันหลากหลาย
            ที่นี่เป็นศูนย์กลางของหมู่บ้านหัตถกรรมที่ใหญ่ที่สุดในประเทศไทยและมีชื่อเสียงระดับโลกในด้านงานฝีมือมาเป็นเวลาช้านาน
        </li>
        <li>เครื่องเงิน เครื่องเงินล้านนาได้รับการรังสรรค์ขึ้นอย่างปราณีตโดยช่างเงินผู้ชำนาญการ
            โดดเด่นด้วยลวดลายและการออกแบบที่ซับซ้อน
            ซึ่งมักสื่อถึงความงามตามธรรมชาติของภูมิทัศน์โดยรอบ
            ด้วยลวดลายดอกไม้และลวดลายใบไม้อันประณีตที่ได้รับแรงบันดาลใจจากพืชและสัตว์ในภูมิภาค
            ท่านสามารถชมเครื่องเงินล้านนาได้ที่วัดศรีสุพรรณหรือ The Silver Temple ซึ่งถูกห่อหุ้มด้วยเงินทั้งหลัง
            และยังสามารถชมเวิร์กช็อปเครื่องเงินที่นั่นเพื่อดูช่างฝีมือและพระสงฆ์ดุนลายเงินได้อีกด้วย</li>
        <li>เครื่องจักสาน วัฒนธรรมล้านนาเป็นที่รู้จักในด้านงานหัตถกรรมมาเป็นเวลาช้านาน
            และงานจักสานนับเป็นหนึ่งในประเพณีที่ทรงคุณค่าที่สุด
            งานจักสานทำจากวัสดุธรรมชาติ เช่น ไม้ไผ่ หวาย และหญ้า
            ลวดลายและการออกแบบสะท้อนถึงสภาพแวดล้อมทางธรรมชาติและวิถีชีวิตของชุมชนท้องถิ่น
            ช่างจักสานแห่งบ้านป่าบงได้ทำของใช้ในครัวเรือนที่สามารถใช้งานได้จริงจากไม้ไผ่มาหลายชั่วอายุคน
            โดยปรับใช้ทักษะโบราณให้กลายเป็นอุตสาหกรรมงานหัตถกรรม</li>
        <li>เครื่องเขิน เครื่องเขินล้านนาคือเครื่องใช้หรือภาชนะที่ทำจากไม้ไผ่
            นอกจากเครื่องปั้นดินเผาที่ค้นพบได้ตามแหล่งโบราณคดีต่างๆ ทั่วภูมิภาค "หมู่บ้านศรีปันครัว"
            เป็นหนึ่งในชุมชนที่ผลิตเครื่องเขินอันขึ้นชื่อของเชียงใหม่
            โดยได้อนุรักษ์ศิลปะโบราณนี้ไว้จากรุ่นสู่รุ่น
            เครื่องเขินอันน่าทึ่งของชุมชนแห่งนี้ยังคงดึงดูดผู้ที่ชื่นชอบและผู้ที่สนใจงานประณีตเช่นนี้มาอย่างต่อเนื่อง
        </li>
        <li>
            "ร่มบ่อสร้าง" เป็นส่วนหนึ่งของวัฒนธรรมล้านนาและพิธีทางประเพณีต่าง ๆ มาอย่างช้านาน
            ร่มนี้ทำขึ้นมาจากไม้ไผ่และกระดาษสา
            ในอดีตร่มเหล่านี้จะถูกทำขึ้นเพื่อถวายพระสงฆ์ และใช้เป็นเครื่องประดับสำหรับผู้มีฐานะดีเวลาเดินเล่นนอกบ้าน
            ทั้งนี้
            ท่านสามารถเยี่ยมชมศูนย์ทำร่มบ่อสร้างเพื่อชมช่างฝีมือทำงานในพื้นที่กลางแจ้งได้</li>
    </ul>
    <h5>ด้านแพทย์แผนไทยและสมุนไพร</h5>
    <p class="fw-bold">"หมอเมือง" ภูมิปัญญาล้านนา</p>
    <p>คำว่า “หมอเมือง” หมายถึง หมอแผนโบราณ ทำการรักษาโรคภัยไข้เจ็บด้วยวิชาการที่สืบทอดมาจากปู่ย่าตายาย
        เป็นการรักษาตามประเพณีที่สืบทอดกันมา มีตำราหรือภาษาล้านนาเรียก “ปั๊บ” ตัวอักษรพื้นเมืองเป็นตำรา บอกสูตรยาสมุนไพร
        และเป็นเครื่องมือในการศึกษาหาความรู้
        องค์ความรู้และภูมิปัญญาของหมอเมือง โดยเฉพาะอย่างยิ่งภูมิปัญญาล้านนา
        ถือเป็นมรดกแห่งภูมิปัญญาที่สืบทอดกันมาจากบรรพบุรุษหลายชั่วอายุคน เรียกว่ามรดกแห่งการรักษา (traditional healing)
        ซึ่งมีระบบการรักษาแบบองค์รวม (holistic) คือคำนึงถึง กาย จิต และ วิญญาณ ควบคู่กัน การรักษาแบบหมอเมือง
        ไม่ได้พึ่งแต่สารสังเคราะห์ที่สมัยใหม่เรียกว่า “ยา” แม้ว่าบางส่วนใช้สารที่ได้จากสมุนไพรในธรรมชาติ
        แต่หมอเมืองยังรวมไปถึงความเชื่อ จิตวิญญาณ และพลังชุมชนด้วย เรียกได้ว่า เป็นองค์ความรู้แบบองค์รวม
        โดยมีเป้าหมายคือสันติสุขของบุคคลและชุมชน</p>

    <p class="fw-bold">“โหราเวช”</p>
    <p> โหราเวช คือ วิชาพยากรณ์ปูมโรคในร่างกายมนุษย์ก่อนจะทำการรักษา
        โดยถือเอาตำแหน่งของดาวนพเคราะห์ที่โคจรในเรือนชะตาของแต่ละบุคคล ประกอบด้วยหลักวิชาปรวนแปรของธาตุเจ้าเรือน ภินนะ
        จรณะ
        มรณะ และกฎสภาวะ แวดล้อมของธรรมชาติเป็นตัวกำหนด นอกจากนี้ยังสามารถทำนายดวงชะตาของมนุษย์ได้อีก
        โหราเวชแบ่งวิธีบำบัดรักษาโรคได้ 3 สาขาใหญ่ ๆ คือ</p>

    <ol>
        <li>เวชมนตรา คือ การรักษาโรคจริตของมนุษย์อันไม่ปรากฏมูลเหตุทางกายภาพที่ชัดเจน เช่น โรคลมพัดลมเพ โรคบริวิตกจริต
            โรคอันเกิดจากการกระทำทางคุณไสย ต้องพิษผีพิษโป่ง พิษพรายไร้ร่องรอย ผีเข้าเหล้าตือ</li>
        <li>เวชปฏิสสะ คือ การรักษาโรคอันปรากฏให้เห็นทางกายภาพจากทวารทั้งสิบของมนุษย์ ใช้วิชาการแพทย์ มีเวชกรรม เภสัชกรรม
            ผดุงครรภ์ นวดไทย และวิชาอื่น ๆ ในหมวดแพทย์ทางเลือกบำบัดรักษาและแพทย์แผนปัจจุบัน</li>
        <li>ญาณเวช คือ
            การรักษาด้วยสมาธิจิตระดับญาณสัมผัสไม่ต้องสัมผัสทางกายก็สามารถรู้อาการของโรคด้วยญาณทัศนะให้การรักษาอย่างถูกต้อง
            ส่วนมากจะเป็นครูบาอาจารย์ที่เป็นพระเถระและหมอครูผู้เฒ่าผู้รจนาตำรายาไว้ในสมุดข่อย สมุดไท ปั๊บลาน ปั๊บสา
            ให้ได้สืบต่อ
            โหราตะ คือ ผู้ร่ายมนต์ในพิธีกรรมต่าง ๆ เช่น ศาสนพิธี ลัทธิพิธี ไสยพิธี รู้ศาสตร์ดวงดาวโคจรบนท้องฟ้า
            รู้ศาสตร์ความเป็นไปในวิถีความเป็นมนุษย์ มีพลังอิธิวิถีในตัวอย่างมาก มีจิตตะวาสะในการหยั่งรู้สูงยิ่ง
            โหระตะเป็นบุคคลที่หาได้ยาก ปัจจุบันหมอโหราเวชหาได้น้อย เพราะเป็นวิชาที่สืบภายในตระกูล
            ส่วนหมอโหราพยากรณ์ยังหาได้ในสำนักโหราทั่วไป</li>
    </ol>
    <p class="fw-bold"> “ตอกเส้นสิบสองไม้ครู”</p>
    <p> การตอกเส้น คือ ภูมิปัญญาของหมอพื้นบ้านล้านนาในการบำบัดรักษาช่วยเหลือตัวเองและชุมชนมาแต่โบราณ
        พัฒนามาจากหมอช้างหมอม้า
        ท่านเหล่านี้คลุกคลีอยู่กับการพยาบาลช้าง ม้า วัว ควายของเจ้าผู้ครองนครในเขตล้านนา มีความจำเป็นต้องใช้วัวต่าง
        ม้าต่าง
        ช้างต่างในการคมนาคมขนส่งตามภูมิประเทศที่เป็นเขาสูงรกชัฏ
        พญาจักรเป็นบุคคลสำคัญเป็นหมอช้างหมอม้ามีวิชาอาคมมากอยู่แจ่งหัวลินทางทิศตะวันตกแจ่งเหนือ
        ในเขตกำแพงเมืองชั้นในเมืองเชียงใหม่ เป็นหัวน้ำไหลเข้าเลี้ยงเมืองเชียงใหม่ มีสวนสมุนไพรที่ใช้รักษาคนและสัตว์
        มีโรงตีเหล็กทำมีดดาบ เกือกม้า ขอสับช้าง มีโรงไม้ทำล้อเกวียนดุมเกวียน แหย่งช้าง มีเครื่องมือต่าง ๆ
        ในการทำงานหลายชนิด
        เป็นต้นกำเนิดของไม้ครูตอกเส้นสิบสองไม้ หมอตอกเส้นจะต้องเรียนรู้กายวิภาคสรีรวิทยาจากครูเก๊า
        ต้องรู้จักการใช้ไม้ครูที่รูปร่างลักษณ์แตกต่างกันออกไปให้ถูกที่ถูกทางถูกท่า
        รู้จักการซักประวัติผู้ป่วยว่ามีโรคประจำตัวอะไรบ้าง เช่น โรคกระดูกพรุน เบาหวาน เส้นเลือดเปราะ ความดันโลหิตสูง
        การเปลี่ยนถ่ายอวัยวะภายใน อุบัติเหตุกระดูกหักมาก่อน ฯลฯ หมอตอกเส้นจะต้องมีเวทย์มนต์คาถาพอแก่การ
        ไม่เช่นนั้นของมักจะย้อนกลับเข้าตัวเอง ไม้ตอกเส้นจะต้องได้รับการปลุกเสกลงยันต์
        ลงอาคมจากครูเก๊าก่อนนำไปใช้จึงจะเรียกว่า “ไม้ครู” ไม้ตอกเส้นมักจะทำมาจากไม้ขามแก่น ไม้เกล็ดดำแดง ไม้ดู่ดง
        ไม้งิ้วดำ
        ไม้ตายขานตายพราย ไม้ที่กล่าวมานี้ถ้าเป็นไม้ฟ้าฟาด (ไม้ที่ฝ้าผ่าและหักกลาง) จะขลัง
        เหมือนดังมีเมนต์สะกดกำราบโรคภัยไข้เจ็บอยู่ในตัว ผีร้ายทั้งหลายเห็นไม้ครูก็ลนลานหนี
        ตอกเส้นสิบสองไม้ครูรักษาได้หลายโรค เช่น โรคปวดเส้น ปวดเอ็น โรคปวดหลังเจ็บเอว (กระดูกทับเส้น) โรคลมโป่งลมพิษ
        โรคอัมพฤกษ์อัมพาต ปวดไหล่เอ็นเข้าแค๊ป (สะบักจม) โรคอันเกิดจากถูกกระทำด้วยคุณไสย
        และโดนพิษผีพิษโป่งพิษพรายไร้ร่องรอย</p>
    <p class="fw-bold"> “ยาฝนยาต้ม”</p>
    <p> ยาฝน คือ สมุนไพรที่ใช้รักษาโรคด้วยวิธีการนำตัวยามาฝนกับน้ำกระสายแล้วให้ผู้ป่วยดื่ม ทาบริเวณที่มีอาการ
        ยาฝนที่ใช้รักษาโรคมักจะเรียกว่า ยาแก้ เช่น ยาฝนแก้กินผิดสาบผิด ยาฝนแก้ตุ่มแก้คัน ยาฝนแก้สันนิบาต ยาฝนแก้ขาง
        ยาฝนแก้ฝี ยาฝนแก้อีสุกอีใส ยาฝนแก้มะเฮ็งคุด ยาฝนแก้ลมบ้าหมู ยาฝนแก้นิ่ว ยาฝนแก้ห้ามฮาก (อาเจียน) ยาฝนตัดฮากสาน
        ยาฝนแก้ไข้ ยาฝนแก้มะโหก ยาฝนแก้ถอนพิษ เป็นต้น ยาฝนแต่ละป้าก (ตำรับ) จะมีตัวยามากน้อยตามกัน ดังตัวยาแก้ห้าต้น
        ประกอบด้วยตัวยา 5 ชนิด คือ หญ้าหมูป่อย เถาแตงเถื่อน หนาดคำ จุ่งจะลิง และดีงูหว้า
        ในอดีตชาวล้านนามักจะมียาฝนไว้ประจำบ้านหรือติดตัวไปตามที่ต่างๆ หากมีผู้ป่วยฉุกเฉินสามารถฝนยารักษาได้ทันท่วงที
        เรียกว่า ยาแก้ทันใจ
        ส่วน การฮิบยาต้ม เป็นการต้มเพื่อให้ได้ตัวยาสมุนไพรใช้ดื่มรักษาโรค เช่น แก้ปวดหลัง ปวดเอว บำรุงร่างกาย เพิ่มพลัง
        เป็นต้น ยาต้มบางป้าก (ตำรับ) ก็ใช้ตัวยาสด บ่างป้ากก็ใช้ตัวยาแห้ง แต่ละป้ากจะมีตัวยาต่างกัน</p>
    <p class="fw-bold"> “การย่ำขาง”</p>
    <p> ย่ำขาง เป็นวิธีการบำบัดรักษาโรคภัยไข้เจ็บแบบพื้นบ้านล้านนาอีกประเภทหนึ่ง
        โดยมากใช้สำหรับบำบัดรักษาอาการเจ็บปวดตามร่างกาย โดยใช้เท้าชุบน้ำยา(น้ำไพลหรือน้ำมันงา)
        แล้วไปย่ำลงบนขางที่เผาไฟจนร้อนแดง แล้วจึงไปย่ำบนร่างกายหรืออวัยวะของผู้ป่วยที่มีอาการเจ็บปวด
        พร้อมทั้งเสกคาถาอาคมกำกับด้วย ในอดีตหมอเมืองจะใช้เท้าย่ำรักษาส่วนต่างๆของร่างกายรวมทั้งศีรษะด้วย
        แต่ต่อมามีการปรับเปลี่ยนเป็นใช้มือหรือลูกประคบนวดในส่วนของศีรษะแทน ส่วนอื่นๆ ของร่างกายยังคงใช้เท้าย่ำเหมือนเดิม
        หมอเมืองที่รักษาด้วยการย่ำขาง เรียกว่า “หมอย่ำขาง”
        คำว่า “ขาง” เป็นโลหะเหล็กผสมพลวงที่นำไปหล่อเป็นใบขาง(ผาลไถ สำหรับใช้ไถนา ขนาดประมาณ 8 x6 นิ้ว ปลายแหลม)
        เนื่องจากขางเป็นอุปกรณ์ที่ใช้ในการไถนาใช้กันมาตั้งแต่สมัยโบราณ เชื่อกันว่ามีความขลังและศักดิ์สิทธิ์
        เพราะสามารถไถนาปลูกข้าวเลี้ยงคนทั้งโลกได้
        อีกทั้งมีคุณสมบัติไม่เป็นสนิมง่ายและในตัวขางมีแร่ธาตุบางชนิดที่เป็นตัวยาสามารถใช้รักษาโรคได้
        ในสมัยก่อนหากเด็กมีอาการเจ็บปากเจ็บลิ้น จะนำขางที่เผาแล้วไปแช่น้ำให้เด็กดื่ม ทำให้อาการเจ็บป่วยนั้นหายได้
        หมอเมืองบางคนเชื่อว่าความร้อนจากขางจะทะลุทะลวงเข้าไปในร่างกายผู้ป่วยได้ลึกกว่าการใช้โลหะอย่างอื่น</p>
    <h5>ศิลปะ วัฒนธรรม ขนบธรรมเนียมประเพณี</h5>
    <p>เช่น ประเพณีการบวชนาคเข้าพรรษา ออกพรรษา วันสำคัญทางศาสนา การทำบุญวันเกิด โกนผมไฟ โกนจุก ขึ้นบ้านใหม่แต่งงาน
        นอกจากนั้น ยังมีศิลปกรรมพื้นบ้าน ที่แสดงปรากฏให้เห็นถึงความสำเร็จของภูมิปัญญาที่สืบทอดกันมาหลายชั่วอายุ เช่น
        งานถักสายและทอกระเป๋าย่านลิเภาภาคใต้ กระเป๋าถือใบตาล เสื่อจันทบูร เปลเด็ก เครื่องปั้นดินเผา งานแกะสลัก
        งานปั้นหล่อ ด้วยโลหะการก่อสร้าง อาคาร ที่อยู่อาศัย ภาพเขียนบนผนัง การฟ้อนรำและเพลงพื้นบ้าน เป็นต้น</p>
    <p class="fw-bold">ฟ้อนเล็บ</p>
    <p class="fw-bold">เรือนกาแล</p>

</div>