<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" #carousel>
    <div class="carousel-inner">
        <div *ngFor="let slide of slides; let i = index" class="carousel-item" [class.active]="i === 0">
            <img [src]="slide.image" class="d-block w-100" alt="{{ slide.title }}">
            <div class="carousel-caption d-none d-md-block">
                <h5>{{ slide.title }}</h5>
                <p>{{ slide.description }}</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev"
        (click)="goToPrevSlide()">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next"
        (click)="goToNextSlide()">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="content pt-3">
                <h4>วิถีชีวิตคนในภาคเหนือ</h4>
            </div>
            <section class="text-start">
                <p>ภาคเหนือเป็นดินแดนที่มีอาณาเขตกว้างขวาง
                    มีวัฒนธรรมและวิถีชีวิตที่เป็นเอกลักษณ์ผู้คนอาศัยในดินแดนแบ่งออกเป็น 2 กลุ่มใหญ่ ๆ คือ
                    คนเมืองกับชาวเขาคนเมือง ใช้เรียกคนที่อาศัยในบริเวณที่ราบลุ่มแม่น้ำในเขตจังหวัดเชียงใหม่ เชียงราย
                    ลำพูนแพร่ น่าน พะเยา และแม่ฮ่องสอนจากสภาพภูมิศาสตร์อันอุดมสมบูรณ์
                    คนเมืองในภาคเหนือมีอาชีพทางการเกษตรเป็นหลักมีวัฒนธรรมประเพณีหลายอย่างเกี่ยวข้องกับการเกษตร
                    และขนบธรรมเนียมเก่าแก่ที่ปฏิบัติสืบต่อกันมาแต่ครั้งปู่ย่าตายาย เช่น การนับถือผี
                    เมื่อพุทธศาสนาเจริญรุ่งเรืองขึ้น ทำให้เกิดประเพณีต่าง ๆตามความเชื่อทางศาสนา เช่น ประเพณีสงกรานต์
                    งานปอย ทานขันข้าว ตักบาตรเทโวชาวเขา เป็นชนกลุ่มน้อยเผ่าต่าง ๆ
                    ที่เคลื่อนย้ายเข้ามาและกระจายตัวอยู่ทั่วไปตามพื้นที่สูง
                    ของภาคเหนือ ชนกลุ่มน้อยมีอยู่หลายเผ่า เช่น ม้ง ลาหู่ อาข่า ลีซูหรือลีซอ เป็นต้น ชนเผ่าต่าง ๆ
                    มีความผูกพันกับป่าเขา ดำรงชีวิตด้วยการเพาะปลูกบนที่สูงและการเลี้ยงสัตว์
                    มีวัฒนธรรมประเพณีเป็นของตนเอง ทั้งภาษา เครื่องแต่งกาย ศาสนา พิธีกรรมและความเป็นอยู่</p>

                <h4 class="text-center">ที่อยู่อาศัย</h4>
                <p>
                    วัฒนธรรมประเพณี สภาพดินฟ้าอากาศ มีส่วนกำหนดลักษณะที่อยู่อาศัยของผู้คน
                    บ้านเรือนในภาคเหนือ นิยมสร้างด้วยวัสดุธรรมชาติที่มีอยู่ในท้องถิ่นสอดคล้องกับวิถีชีวิต ตัวเรือนมีขนาด
                    เล็กใต้ถุนสูง หลังคาทรงจั่ว ประดับยอดหลังคาด้วยไม้แกะสลักไขว้กัน เรียกว่า "กาแล" ชาวเหนือที่มีฐานะดี
                    จะอยู่เรือนที่ค่อนข้างมีขนาด ใหญ่และประณีตมากขึ้น</p>
                <h4 class="text-center">การแต่งกาย</h4>
                <p>
                    ในอดีตผู้หญิงชาวเหนือไม่นิยมใส่เสื้อแต่มีผ้าคล้องคอผืนใหญ่ นุ่งผ้าซิ่น
                    ลายขวางต่อหัวและเชิง ส่วนผู้ชายนุ่งผ้าผืนเดียว ต่อมาภายหลังจนกระทั่งปัจจุบัน การแต่งกาย
                    พื้นเมืองมีลักษณะแปลงไป ผู้หญิงนุ่งซิ่นกรอมเท้า อาจเป็นซิ่นลายขวางหรือซิ่นที่ทอด้วยลวดลายวิจิตรงดงาม
                    สวมเสื้อผ้าฝ้ายตัวสั้น นิยมตกแต่งด้วยเครื่องประดับเงิน
                    ส่วนผู้ชายใส่เตี่ยวสะดอหรือกางเกงขาก๊วยและเสื้อหม้อห้อมเคียนเอวด้วยผ้าขาวม้า
                    อันเป็นลักษณะที่แสดงความเรียบง่าย ปัจจุบันการแต่งกายพื้นเมืองยังเป็นที่นิยมทั่วไป
                    โดยเฉพาะเมื่อมีงานบุญ งานประเพณีและงานเลี้ยงขันโตก เป็นต้น</p>
            </section>
            <section class="text-start">
                <h4 class="text-center">ขนบธรรมเนียมประเพณี</h4>
                <p>
                    เครื่องดนตรีล้านนาเป็นเครื่องดนตรีทางภาคเหนือ ที่พบเห็นเสมอ
                    ได้แก่ ซึง สะล้อ ปี่ กลอง ซึ่งมีหลายชนิด เช่น กลองหลวง กลองสะบัดชัย
                    สำหรับการฟ้อนรำนั้น ผู้ชายนิยมฟ้อนดาบซึ่งเป็นการนำเอาท่วงท่าศิลปะการต่อสู้ของคน
                    สมัยก่อนมาปรับประยุกต์ ฟ้อนที่นิยมได้แก่ ฟ้อนเล็บ ฟ้อนก๋ายหลาย เป็นต้น
                    ปัจจุบันดนตรีและการฟ้อนรำของภาคเหนือเป็นที่รู้จักแพร่หลาย ใช้แสดงต้อนรับแขกบ้าน
                    แขกเมืองเมื่อมีเทศกาลหรืองานประเพณีต่าง ๆ ก็จะนำดนตรีและการแสดงพื้นบ้านออกมาเล่นกันอย่างสนุกสนาน
                </p>


                <h4 class="text-center">หัตถกรรมพื้นบ้าน</h4>
                <p> ภาคเหนือเป็นภูมิภาคที่มีทรัพยากรป่าไม้อุดมสมบูรณ์ ที่สำคัญคือไม้ไผ่ชนิดต่าง ๆ เช่นไม้รวก ไม้ซาง
                    ซึ่งชาวเหนือได้นำมาทำเป็นเครื่องจักสานรูปแบบต่าง ๆ เช่นแอ่ว เป็นภาชนะเครื่องจักสานที่มีขนาดใหญ่
                    เกษตรกรในสมัยก่อนใช้สำหรับรองรับการฟาดข้าวและบรรจุข้าวเปลือกที่ฟาดได้ ก่อนที่จะนำไปเก็บที่ยุ้งฉาง
                    กระด้ง
                    เป็นภาชนะเครื่องจักสานที่ใช้สำหรับฝัดข้าว
                    สานเป็นภาชนะรูปแบบกลมมีขอบปากทำด้วยไม้ไผ่กระด้งยังใช้งานอื่น ๆ
                    ได้หลายประการ เช่น ฝัดแยกเม็ดทราย ข้าวเปลือก ดอกหญ้าออกจากข้าวสาร ใช้ใส่อาหารเช่นผักผลไม้
                    ใช้เป็นภาชนะวางอาหารสำหรับตากหรือผึ่งแดดเช่น ปลา เป็นต้น
                    ก่องข้าว โดยทั่วไปสานด้วยไม้ไผ่ มีขนาดเล็กใหญ่ต่าง ๆ กัน สำหรับใส่ข้าวเหนียว แอบข้าว
                    เป็นภาชนะใส่ข้าวเหนียวเช่นเดียวกันแต่มีขนาดเล็กกว่าสำหรับพกพาเวลาไปทำงานนอกบ้าน ไม้ไผ่
                    เป็นวัสดุที่นิยมใช้จักสานกันมากที่สุด ได้แก่ ซ้า หวด ก่องข้าว แอบข้าว โตก ฝาชี แอบหมากหมวก บุง สุ่ม
                    ข้อง
                    ฯลฯ หวาย นิยมนำมาทำเครื่องเรือน กก นิยมนำมาสานเสื่อสำหรับปูนั่งหรือนอน และของใช้ชนิดต่าง
                    ๆใบลานและใบตาล
                    นำมาสานหมวก งอบ และของใช้ชนิดต่าง ๆเครื่องจักสานที่มีเอกลักษณ์โดดเด่นของภาคเหนือ คือ
                    เครื่องเขินหรือเครื่องรัก ซึ่งเป็นภาชนะ ทำด้วยไม้ไผ่ สานเป็นรูปต่าง ๆ ตามลักษณะการใช้สอย
                    ทาด้วยยางรัก
                    ชาวเหนือเรียกว่า "น้ำฮัก" ซึ่งได้ มาจากต้นรัก ที่มีอยู่ในภาคเหนือ
                    แล้วเขียนลวดลายตามต้องการและนำไปปิดทอง
                    ซึ่งถือว่ามีความประณีตสวยงาม ป้องกันน้ำ ความชื้น ทนทานต่อความร้อนและสารเคมีได้ดี</p>

            </section>


        </div>

    </div>

</div>